.page-wrapper {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;

}

//
//.poke-container {
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//  min-height: 100vh;
//  margin: 20px;
//}

.poke-deck {
  display: flex;
  height: 30vh;
  flex-direction: column;
flex-wrap: wrap;

}


@media only screen and (min-width: 600px) {
  .poke-deck {
    display: flex;
    flex-direction: column;
    //break-before: column;
    columns: 3;
    column-gap: 10px;
    column-count: 4;
    page-break-before: always;

  }
}